<div class="journeys">
  <div *ngFor="let journey of journeys">
    <div>
      <mat-accordion>
        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ journey.departure_date_time | date:'HH:mm'  }} - {{ journey.arrival_date_time | date:'HH:mm'  }}
            </mat-panel-title>

            <mat-panel-description>
              <div>Durée : {{ secondToDate(journey.duration) }}</div>
              <div>{{ journey.nb_transfers == 0 ? "Direct" : journey.nb_transfers + " change." }}</div>
              <div>{{ journey.dist }} km</div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div *ngFor="let section of journey.sections | filterType: 'type' : 'public_transport'; let i = index" [attr.data-index]="i"  class="sections">
            <div class="correspondance" *ngIf="i >= 1 && compareDate(journey.sections | filterType: 'type' : 'public_transport', i, i - 1)">
              <img class="down-arrow" src="../../assets/images/dot-down-arrow.png">
              <img class="down-arrow" src="../../assets/images/clock-time.png">
              <p>{{ timeDiff }}</p>
            </div>

            <p>{{ section.departure_date_time | date:'HH:mm' }} - {{ section.from.name }}</p>
            <img class="down-arrow" src="../../assets/images/down-arrow.png">
            <p>{{ section.arrival_date_time | date:'HH:mm' }} - {{ section.to.name }}</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
