<div *ngIf="journeys != null" class="journeys">

  <div class="convert">
    <form>
      <mat-form-field>
        <mat-select name="selectedCurrency" [(ngModel)]="selectedCurrency" placeholder="Currency">
          <mat-option *ngFor="let currency of currenciesList[0]" [value]="currency.textContent">
            {{ currency.textContent }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="convertCurrency()" mat-raised-button color="primary" [disabled]="selectedCurrency == null">Convertir</button>
      <div *ngIf="error != null">{{ error }}</div>
    </form>
  </div>

  <div style="display: inline-flex" *ngFor="let journey of journeys">
    <div>
      <mat-accordion>
        <mat-expansion-panel style="margin-bottom: 10px;">

          <mat-expansion-panel-header>
            <mat-panel-title style="width: 100px">
              {{ journey.departure_date_time | date:'HH:mm'  }} - {{ journey.arrival_date_time | date:'HH:mm'  }}
            </mat-panel-title>

            <mat-panel-description>
              <div style="width: 100px">Durée : {{ secondToDate(journey.duration) }}</div>
              <div style="width: 80px">{{ journey.nb_transfers == 0 ? "Direct" : journey.nb_transfers + " change." }}</div>
              <div style="width: 80px">{{ journey.dist }} km</div>
              <div style="width: 100px">{{ journey.prix | number: '1.2-2'}} {{ currency }}</div>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div *ngFor="let section of journey.sections | filterType: 'type' : 'public_transport'; let i = index" [attr.data-index]="i"  class="sections">
            <div class="correspondance" *ngIf="i >= 1 && compareDate(journey.sections | filterType: 'type' : 'public_transport', i, i - 1)">
              <img class="down-arrow" src="../../assets/images/dot-down-arrow.png">
              <img class="down-arrow" src="../../assets/images/clock-time.png">
              <p>{{ timeDiff }}</p>
            </div>

            <p>{{ section.departure_date_time | date:'HH:mm' }} - {{ section.from.name }}</p>
            <img class="down-arrow" src="../../assets/images/down-arrow.png">
            <p>{{ section.arrival_date_time | date:'HH:mm' }} - {{ section.to.name }}</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div>
      <div style="width: 100px"><button (click)="storeJourney(journey)" mat-raised-button color="primary"  style="height: 48px;">Réserver</button></div>
    </div>
  </div>

</div>
