
<div class="main-form">
  <div class="form">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="depart" name="depart" type="text" placeholder="Gare départ" matInput [matAutocomplete]="auto" (ngModelChange)="searchStations(depart)" (focusout)="checkStation('D')">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option['name']">
            {{ option['name'] }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="arrivee" name="arrivee" type="text" placeholder="Gare arrivée" matInput [matAutocomplete]="auto" (ngModelChange)="searchStations(arrivee)" (focusout)="checkStation('A')">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option['name']">
            {{ option['name'] }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <mat-form-field>
      <input [min]="minDate" [(ngModel)]="dateDepart" name="dateDepart" matInput [matDatepicker]="picker" placeholder="Départ">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="search-button">
    <button (click)="searchJourneys()" mat-raised-button color="primary" [disabled]="!isValidForm()">Rechercher</button>
  </div>
</div>

<div class="journeys">
    <div *ngFor="let journey of journeys">
      <div>
        <mat-accordion>
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ journey.departure_date_time | date:'HH:mm'  }} - {{ journey.arrival_date_time | date:'HH:mm'  }}
              </mat-panel-title>

              <mat-panel-description>
                <div>Durée : {{ secondToDate(journey.duration) }}</div>
                <div>{{ journey.nb_transfers == 0 ? "Direct" : journey.nb_transfers + " change." }}</div>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div *ngFor="let section of journey.sections"  class="sections">
              <p>{{ section.departure_date_time | date:'HH:mm' }}</p>

              <p>{{ section.arrival_date_time | date:'HH:mm' }}</p>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
</div>
