@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-form-field {
  width: 600px;
}

.main-form {
  width: 600px;
}

.search-button {
  text-align: center;
}

.journeys {
  width: 600px;
}

mat-panel-description div {
  padding-right: 20px;
}

.sections {
  margin-bottom: 15px;
}

.mat-button {
  line-height: normal !important;
}

.convert .mat-form-field {
  width: 200px;
}
