
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="depart" name="depart" type="text" placeholder="Gare départ" matInput [matAutocomplete]="auto" (ngModelChange)="getCities(depart)" (focusout)="checkStation('D')">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="arrivee" name="arrivee" type="text" placeholder="Gare arrivée" matInput [matAutocomplete]="auto" (ngModelChange)="getCities(arrivee)" (focusout)="checkStation('A')">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Départ">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<button (click)="getDatas()" mat-raised-button color="primary" [disabled]="!isValidForm()">Rechercher</button>
